pandas
numpy
flask
joblib
scikit-learn

pandas
numpy
flask
joblib
scikit-learn
absl-py                      
addict                        
aiohttp                       
aiosignal                     
albumentations                      
array-record                  
arrow                         
asttokens                     
coremltools                   
importlib-resources           
incremental                   
ipykernel                     
ipython                       
ipython-genutils              
joblib                                       
matplotlib                    
matplotlib-inline             
numpy                         
oauth2client                  
oauthlib                      
object-detection              
objsize                       
onnx                          
onnx-simplifier               
opencv-python                 
opencv-python-headless        
packaging                     
pandas                        
pickle5                       
pickleshare                   
Pillow                        
pip                           
pkgutil_resolve_name          
referencing                   
regex                         
requests                      
rsa                           
sacrebleu                     
safetensors                   
scikit-image                  
scikit-learn                  
scipy                         
seaborn                       
Send2Trash                    
sentencepiece                 
seqeval                       
setuptools                    
sip                           
six                           
sklearn                       
smmap                         
sniffio                       
soupsieve                     
stack-data                    
sympy                         
tabulate                      
termcolor                     
terminado                     
text-unidecode                
texttable                     
tf-models-official            
tf-slim                       
thop                          
threadpoolctl                 
tifffile                      
tinycss2                      
tokenizers                    
toml                          
tomli                         
torch                         
torchaudio                    
torchmetrics                  
torchvision                   
tornado                       
tqdm                          
traitlets                     
transformers                  
tritonclient                  
turtle                        
Twisted                       
typeguard                     
typing-extensions             
typing-utils                  
tzdata                                   
uri-template                  
uritemplate                   
urllib3                       
wcwidth                       
webcolors                     
webencodings                  
websocket-client              
Werkzeug                      
wheel                         
widgetsnbextension            
wrapt                         
xmltodict                     
yarl                          
zipp                          
zope.interface                
zstandard                     
